#container {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px grey;
	width: 700px;
	margin: 50px auto;


}

.left {
	float: left;
	margin-bottom: 10px;
}

.right {
	float: right;
	margin-bottom: 10px;
}
body{
	text-align: justify;
}
a{
	color: darkgray;
	background-color: lightgray;
	text-decoration: none;
}

a:hover{
	color: chocolate;

}

.text{
	text-align: justify;
}
.vonal{
	width: 680px;
	margin-top: 10px;
	border: 1px solid black;
}
.img-box{
	width: 200px;
	background-color: #eee;
	padding: 10px;
	border: 1px #999 solid;
	
}