#container {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px grey;
	width: 700px;
	margin: 50px auto;


}

.left {
	float: left;
	margin-bottom: 10px;
}

.right {
	float: right;
	margin-bottom: 10px;
}
body{
	text-align: justify;
}
a{
	color: darkgray;
	background-color: lightgray;
	text-decoration: none;
}

a:hover{
	color: chocolate;
}